* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 300px);
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.header {
  background: red;
  grid-area: header;
}

.content {
  background: orange;
  grid-area: content;
}

.nav {
  background: yellow;
  grid-area: nav;
}

.footer {
  background: green;
  grid-area: footer;
}
